<form class="w-md" [formGroup]="formRegister"  (ngSubmit)="emitRegister()">
  <p-card>
    <!-- title -->
    <ng-template #title>
      Registro
    </ng-template>
    <!-- content -->
    <div class="w-full flex flex-col gap-2">
      <!-- name -->
      <p>Nombres</p>
      <p-floatLabel variant="in">
        <input formControlName="names" class="w-full" type="text" pInputText id="in_label_name" autocomplete="off" />
        <label for="in_label_name">Nombres</label>
      </p-floatLabel>

      <!-- lastnames -->

      <p>Apellidos</p>
      <p-floatLabel variant="in">
        <input formControlName="lastnames" class="w-full" type="text" pInputText id="in_label_lastname" autocomplete="off" />
        <label for="in_label_lastname">Apellidos</label>
      </p-floatLabel>

      <!-- gender -->
      <p>Género</p>
      <p-floatlabel class="w-full" variant="in">
        <p-select optionValue="value" formControlName="gender" inputId="in_label_gender" [options]="genders" optionLabel="label" styleClass="w-full" />
        <label for="in_label_gender">Género</label>
      </p-floatlabel>
      <!-- birthDate -->
      <p>Fecha de nacimiento</p>
      <p-floatlabel variant="in">
        <p-datepicker dateFormat="yy-mm-dd" formControlName="birthdate" inputId="in_label" styleClass="w-full" inputStyleClass="w-full" showIcon iconDisplay="input" />
        <label for="in_label_birthdate">Fecha de nacimiento</label>
      </p-floatlabel>
      <!-- direccion -->
            <p>Dirección</p>
      <p-floatLabel variant="in">
        <input formControlName="address" class="w-full" type="text" pInputText id="in_label_address" autocomplete="off" />
        <label for="in_label_address">Dirección</label>
      </p-floatLabel>

            <!-- departament -->
      <p>Departamento</p>
      <p-floatlabel class="w-full" variant="in">
        <p-select optionValue="value" formControlName="department" inputId="in_label_department" [options]="departaments" optionLabel="label" styleClass="w-full" />
        <label for="in_label_department">Departamento</label>
      </p-floatlabel>

      <!-- province -->
      <p>Provincia</p>
      <p-floatlabel class="w-full" variant="in">
        <p-select optionValue="value" formControlName="province" inputId="in_label_province" [options]="provinces" optionLabel="label" styleClass="w-full" />
        <label for="in_label_province">Provincia</label>
      </p-floatlabel>

      <!-- district -->
      <p>Distrito</p>
      <p-floatlabel class="w-full" variant="in">
        <p-select optionValue="value" formControlName="district" inputId="in_label_district" [options]="districts" optionLabel="label" styleClass="w-full" />
        <label for="in_label_district">Distrito</label>
      </p-floatlabel>

      <!-- email -->
      <p>Correo</p>
      <p-floatLabel variant="in">
        <input formControlName="email" class="w-full" type="text" pInputText id="in_label_email" autocomplete="off" />
        <label for="in_label_email">Correo</label>
      </p-floatLabel>
      <!-- password -->
      <p>Contraseña</p>
      <p-floatLabel variant="in">
        <p-password formControlName="password" styleClass="w-full" inputStyleClass="w-full" toggleMask inputId="in_label_password" />
        <label for="in_label_password">Contraseña</label>
      </p-floatLabel>
      <!-- confirm password -->
      <p>Confirmar contraseña</p>
      <p-floatLabel variant="in">
        <p-password styleClass="w-full" inputStyleClass="w-full" toggleMask inputId="in_label_confirm_password" />
        <label for="in_label_confirm_password">Confirmar contraseña</label>
      </p-floatLabel>
    </div>
    <!-- footer -->
    <ng-template #footer>
      <p-button label="Registrarse" type="submit" rounded styleClass="w-full" />
    </ng-template>
  </p-card>
</form>
