<p-confirm-dialog/>
<p-menubar [model]="items" styleClass=" bg-primary border-none rounded">
  <ng-template #item let-item>
    <ng-container>
      <a pRipple [routerLink]="item.route" routerLinkActive="bg-primary-400"
        class="p-menubar-item-link text-surface-0 bg-primary transition-colors duration-300 hover:bg-primary-400">
        <span>{{ item.label }}</span>
      </a>
    </ng-container>
  </ng-template>
  <ng-template #end>
    <p-button icon="pi pi-user" [rounded]="true" (onClick)="menu.toggle($event)" />
    <p-tieredMenu #menu [model]="perfilMenuItems" [popup]="true">
      <ng-template #item let-item>
        <ng-container *ngIf="item.route; else withoutUrl">
          <a pRipple [routerLink]="item.route" [href]="item.href" class="p-tieredmenu-item-link">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
          </a>
        </ng-container>

        <ng-template #withoutUrl>
          <div pRipple class="p-tieredmenu-item-link" (click)="confirmLogOut($event)">
            <span [class]="item.icon"></span>
            <span class="ml-2">{{ item.label }}</span>
          </div>
        </ng-template>
      </ng-template>
    </p-tieredMenu>
  </ng-template>
</p-menubar>
