<div class="w-full min-h-screen flex flex-col gap-2">
  <h3 class="h3">Ingrese sus sintomas</h3>
           <div class="flex flex-col min-h-48">
            <p class="textLg">Seleccione sus sintomas</p>
            <!-- buscador mas select -->
            <div class="flex gap-2 mt-3">
              <!-- buscador -->
              <p-inputgroup class="max-w-sm">
                <p-inputgroup-addon>
                  <i class="pi pi-search"></i>
                </p-inputgroup-addon>
                <p-floatlabel variant="in">
                  <input  [(ngModel)]="filtler" pInputText id="in_label_search" />
                  <label for="in_label_search">Buscar sintomas</label>
                </p-floatlabel>
              </p-inputgroup>
              <!-- select for categories symptoms -->
              <p-floatlabel class="w-full max-w-xs" variant="in" hidden>
                <p-select
                  inputId="in_label_categories_symptoms"
                  [options]="categoriesSymptoms"
                  optionLabel="label"
                  styleClass="w-full"
                />
                <label for="in_label_categories_symptoms">Categorias</label>
              </p-floatlabel>
            </div>
            <!-- symptoms checkboxs -->
            <div
              class="w-full py-3 flex-1 grid sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6 gap-2"
            >
              <div *ngFor="let symptom of elementosFiltrados" class="flex items-center">
                <p-checkbox
                  [inputId]="symptom.id.toString()"
                  name="group"
                  [value]="symptom"
                  [(ngModel)]="selectedSymptoms"
                />
                <label [for]="symptom.id" class="ml-2">
                  {{ symptom.name }}
                </label>
              </div>
            </div>
          </div>
          <div class="flex pt-6 justify-end">
            <p-button
              label="Enviar"
              icon="pi pi-send"
              severity="success"
              rounded
              iconPos="right"
              (onClick)="sendSymptoms()"
            />
          </div>
</div>
